<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.js"></script>
<script>







var xField = "${xField}";
var yField = "${yField}";
 

var margin = {top: 20, right: 20, bottom: 20, left: 20},
    width = 900 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);
 
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
    
var line = d3.svg.line()
    .x(function(d) { return x(d["x"]); })
    .y(function(d) { return y(d["y1"]); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

 
var color = d3.scale.category10();    
 
data = [
    <#list dataList  as d>
         {x : '${d[xField]?string("yyyy-MM-dd")}', y1 : ${d[yField]?string("0.######")} , y2 : ${d[yField]?string("0.######")} + 10 },
      </#list>
]



//d3.tsv("data.tsv", function(error, data) {

  data.forEach(function(d) {
    d["x"] = parseDate(d["x"]);
    d["y1"] = +d["y1"];
  });


  x.domain(d3.extent(data, function(d) { return d["x"]; }));
  y.domain( 
    d3.extent(data, function(d) { return  d["y1"] ; })    
  );

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Price ($)");

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
//});

</script>


</body>
</html>